.total {
  margin: 120px;
  width: 1200px;
  height: 550px; 
  display: flex;
  background-color: grey;
  border-radius: 50px;
}

.left {
  width: 35%;
  height: 100%; 
  border: 1px solid red;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.right {
  width: 65%;
  height: 550px;
  border: 1px solid blue;
  border-radius: 50px;
  background-color: white;
}
.center{
  text-align: center;
}
.title {
  font-size: 50px;
  font-weight: bolder;
  padding-top: 150px;
}
.content {
  font-size: 25px;
  margin-top: -40px;
  opacity: 40%;
}