.right {
  width: 65%;
  height: 550px;
}

.center{
  text-align: center;
}
.title {
  font-size: 50px;
  font-weight: bolder;
  padding-top: 150px;
}
.content {
  font-size: 25px;
  margin-top: -40px;
  opacity: 40%;
}